{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
    <h2 class="text-center mt-2"> TEST </h2>
    <div class="text-center mt-5">
        {% if is_granted("ROLE_USER") %}
        <a class="btn btn-outline-success" type="button" href="{{ path('Creation_add', {'id': app.user.id})}}">Créer une sortie</a>
        {% endif %}

    </div>
{% endblock %}
