{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
    <h4 class="col-md text-center mt-2"> Toutes les activités et sorties proposées et organisées par ENI </h4>
    <p class="text-center">Pour vous inscrire, contactez l'école ENI!</p>
    <div class="text-center mt-2">
        <img alt="logo" class="img-fluid" src={{ asset('images/sorties2.png') }}>
    </div>

{% endblock %}
