body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background: bisque ;
    margin:0;
    padding:0;
    position:relative;
    height: 100%;
}

#main {
    padding: 20px 10px 80px  ;

}


#footer{
    color: saddlebrown;
    background: bisque ;
    bottom:30px;
    width:100%;
    height:60px;
    padding: 20px;
}

nav{
    background: burlywood ;
}

a{
    color: darkred;
}


h1{
    background-image: url("../images/automne_rouge.png");
    color: antiquewhite;

}
h2{
    color: saddlebrown;
}

label{
color: #0b2e13;
}

