body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background: bisque ;
    position: relative;
    min-height: 100%;
}
nav{
    background: burlywood ;
}
a{
    color: darkred;
}

footer{
    color: saddlebrown;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;

}
html{
    height: 100%;
}

h1{
    background-image: url("../images/automne_rouge.png");
    color: antiquewhite;

}
h2{
    color: saddlebrown;
}